In [12]:
import pandas as pd

In [22]:
data = pd.read_csv('../pauline/Desktop/chiffres-cles.csv', sep=";")

Dans un premier temps, nous avons importé sur Python le fichier sous format CSV :

In [23]:
data.head()

,date,granularite,maille_code,maille_nom,cas_confirmes,deces,reanimation,hospitalises,nouvelles_hospitalisations,nouvelles_reanimations
0,2020-01-24,departement,DEP-16,Charente,0.0,NaN,NaN,NaN,NaN,NaN
1,2020-01-24,departement,DEP-17,Charente-Maritime,0.0,NaN,NaN,NaN,NaN,NaN
2,2020-01-24,departement,DEP-19,Corrèze,0.0,NaN,NaN,NaN,NaN,NaN
3,2020-01-24,departement,DEP-23,Creuse,0.0,NaN,NaN,NaN,NaN,NaN
4,2020-01-24,departement,DEP-24,Dordogne,0.0,NaN,NaN,NaN,NaN,NaN

Les données disponibles dans le fichier sont à la fois les données concernant la France entière et les régions, c'est pourquoi il a fallu filtrer par département

In [24]:
df =data[data.granularite=='departement']

In [25]:
df.granularite.unique()

array(['departement'], dtype=object)

In [27]:
df["date"]=pd.to_datetime(df["date"])

/var/folders/4s/1xzkd5w11955h06v5c2qb6jm0000gn/T/ipykernel_83970/1303019909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date"]=pd.to_datetime(df["date"])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53845 entries, 0 to 65029
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        53845 non-null  datetime64[ns]
 1   granularite                 53845 non-null  object
 2   maille_code                 53845 non-null  object
 3   maille_nom                  53845 non-null  object
 4   cas_confirmes               1649 non-null   float64
 5   deces                       52974 non-null  float64
 6   reanimation                 52057 non-null  float64
 7   hospitalises                52120 non-null  float64
 8   nouvelles_hospitalisations  51712 non-null  float64
 9   nouvelles_reanimations      51712 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 4.5+ MB

In [29]:
df.head()

,date,granularite,maille_code,maille_nom,cas_confirmes,deces,reanimation,hospitalises,nouvelles_hospitalisations,nouvelles_reanimations
0,2020-01-24,departement,DEP-16,Charente,0.0,NaN,NaN,NaN,NaN,NaN
1,2020-01-24,departement,DEP-17,Charente-Maritime,0.0,NaN,NaN,NaN,NaN,NaN
2,2020-01-24,departement,DEP-19,Corrèze,0.0,NaN,NaN,NaN,NaN,NaN
3,2020-01-24,departement,DEP-23,Creuse,0.0,NaN,NaN,NaN,NaN,NaN
4,2020-01-24,departement,DEP-24,Dordogne,0.0,NaN,NaN,NaN,NaN,NaN

Dans un premier temps, les données disponibles dans la base comprenait à la fois des données qui concernait les régions, la France entière ainsi que le monde. Nous avons décidé de nous concentrer sur les régions en France, c'est pourquoi un premier filtre a été effectué la dessus

In [31]:
df.index=df.date

Ici, nous avons fait un regroupement des données par mois puis un tri alphabétique par département

In [43]:
df.groupby([pd.Grouper(freq='Q'),"maille_nom"]).sum().sort_values(['date','maille_nom']).reset_index()

,date,maille_nom,cas_confirmes,deces,reanimation,hospitalises,nouvelles_hospitalisations,nouvelles_reanimations
0,2020-03-31,Ain,943.0,67.0,88.0,550.0,131.0,23.0
1,2020-03-31,Aisne,436.0,778.0,376.0,1384.0,316.0,46.0
2,2020-03-31,Allier,188.0,38.0,31.0,244.0,74.0,10.0
3,2020-03-31,Alpes-Maritimes,1096.0,145.0,221.0,1040.0,214.0,41.0
4,2020-03-31,Alpes-de-Haute-Provence,90.0,3.0,20.0,116.0,48.0,3.0
...,...,...,...,...,...,...,...,...
702,2021-09-30,Vendée,0.0,12617.0,90.0,693.0,65.0,19.0
703,2021-09-30,Vienne,0.0,11585.0,55.0,396.0,30.0,10.0
704,2021-09-30,Vosges,0.0,36958.0,52.0,1573.0,59.0,9.0
705,2021-09-30,Yonne,0.0,25371.0,151.0,2357.0,94.0,15.0
706,2021-09-30,Yvelines,0.0,79640.0,905.0,5443.0,260.0,41.0

In [56]:
total_by_month_by_department = df.groupby([pd.Grouper(freq='Q'),"maille_nom"]).sum().sort_values(['date','maille_nom']).reset_index()

Export des données sous format CSV pour pouvoir ensuite faire la jointure entre les deux tables

In [63]:
total_by_month_by_department.to_csv('Desktop/Ironhack/Projet1/cascovid.csv')